<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StickFight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StickFight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StickFight.Properties.Settings>
            <setting name="Plr1Left" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="Plr1Up" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="Plr1Right" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="Plr1Down" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Plr1Hit" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="Plr1Kick" serializeAs="String">
                <value>189</value>
            </setting>
            <setting name="Plr1Block" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="Plr2Left" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="Plr2Up" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="Plr2Right" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="Plr2Down" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="Plr2Hit" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="Plr2Kick" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="Plr2Block" serializeAs="String">
                <value>82</value>
            </setting>
        </StickFight.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StickFight.Properties.Settings>
            <setting name="EntryScreen" serializeAs="String">
                <value>
                    ##
                   ##
                   ##              Welcome to StickFight
                  ##
                 /##\
   .##.        .####-####################################################..
  &lt;################|#|#                                                 #####
   '##'        '####-####################################################''
                 \##/
                  ##
                   ##               Get ready to fight!
                   ##
                    ##
</value>
            </setting>
            <setting name="StandardMap" serializeAs="String">
                <value>╔══════════════════════════════════════════════════════════════════════════════╗
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
║                                                                              ║
╚══════════════════════════════════════════════════════════════════════════════╝</value>
            </setting>
        </StickFight.Properties.Settings>
    </applicationSettings>
</configuration>